.filler {
  background-color:#34495e;
  color:#ecf0f1;
  padding:20px;
  height:100px;
  width:100px;
}

.trial {
  background-color:#1abc9c;
  color:#ecf0f1;
  padding:20px;
  height:100px;
  width:100px;
}

.navspr{
  color:#f39c12
}
/*Changing the CSS of the buttons */
.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

/* make the button have an outline */
.btn.outline {
    background: none;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/*Start to the css of the body */
body {
    background-color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.jumbotron {
    background-color:#ecf0f1;
    overflow-y: scroll;
    padding: 20px 20px 20px 20px;
    margin: 50px 100px 50px 250px;
}

.jumbotron p {
  font-size: medium;
}

.jumbotron h1 {
  font-size: xx-large;
}

.jumbotron.ex h1 {
    color: #e74c3c;
}
.jumbotron.ques h1 {
    color: #2980b9;
}
.jumbotron.spr h1 {
    color: #f39c12;
}

/* Pop up css */

.popup {
  display:none;
  font: italic 23px/30px "OFL Sorts Mill Goudy","OFL Sorts Mill Goudy TT",serif;
  position: absolute;
  word-wrap: break-word;
  padding: 1em;
  text-align: right;
  margin-top:-75px;   /* To get the popup to center correctly we need */
  margin-left:-225px;   /* To displace the the top/left margins by half of the width/height */
  width: 200px;
  border:2px solid #000;  /* And give it a border */
  z-index:100000;      /* Set z-index to 1 more than that of the overlay so the popup is over the overlay */
}

.answers li {
  list-style: upper-alpha;
}

label {
  margin-left: 0.5em;
  cursor: pointer;
}

#results {
  background: #dddada;
  color: 000000;
  padding: 3px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  border: 1px solid gray;
}

#results:hover {
  background: #3d91b8;
  color: #ffffff;
  padding: 3px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  border: 1px solid gray;
}

#categorylist {
  margin-top: 6px;
  display: none;
}

#closing {
  display: none;
  font-style: italic;
}
