body {
    background-color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.jumbotron {
    background-color:#ecf0f1;
    overflow-y: scroll;
    padding: 20px 20px 20px 20px;
    margin: 50px 100px 50px 250px;
}

.jumbotron p {
  font-size: medium;
}

.jumbotron h1 {
  font-size: xx-large;
}

.jumbotron.ex h1 {
    color: #e74c3c;
}
.jumbotron.ques h1 {
    color: #e67e22;
}
.jumbotron.spr h1 {
    color: #f39c12;
}

/* Pop up css */
.overlay {
   display:none;    /* This make it initially hidden */
   position:fixed;  /* This makes it so it says in a fixed position even if they scroll around */
   left:0px;        /* This positions the element to the left most position */
   top:0px;         /* This positions the elment to the top most position */
   width:100%;      /* This makes the element take up 100% of the parents width */
   height:100%;     /* This makes the element take up 100% of the parents height */
  /* opacity:0.5; */    /* Change the opacity to 50% so that is see through. */
   z-index:99999;   /* Change the z-index so it will be above everything else */
}

.popup {
  display:none;
  font: italic 23px/30px "OFL Sorts Mill Goudy","OFL Sorts Mill Goudy TT",serif;
   position:fixed;
  word-wrap: break-word;
  left:10%;            /* left and top here position top left page */
  top: 75px;
  padding-right:3000px;
  text-align: right;
  margin-top:-75px;   /* To get the popup to center correctly we need */
  margin-left:-100px;   /* To displace the the top/left margins by half of the width/height */
  border:2px solid #000;  /* And give it a border */
  z-index:100000;      /* Set z-index to 1 more than that of the overlay so the popup is over the overlay */
}

.answers li {
  list-style: upper-alpha;
}

label {
  margin-left: 0.5em;
  cursor: pointer;
}

#results {
  background: #dddada;
  color: 000000;
  padding: 3px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  border: 1px solid gray;
}

#results:hover {
  background: #3d91b8;
  color: #ffffff;
  padding: 3px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  border: 1px solid gray;
}

#categorylist {
  margin-top: 6px;
  display: none;
}

#closing {
  display: none;
  font-style: italic;
}
