.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
.figure {
  text-align:justify;
}
/*To link paper*/
.sup {
    vertical-align: super;
    font-size: smaller;
    font-weight: bold;
    color: #9b59b6;
}
/*fix */
.sup a:hover{
  text-decoration:none;
}
/*Resize the window and cap it*/
html, body {
  min-width: 1200px;
  max-width: 1200px;
}
p{
  margin-left:20px;
  margin-right: 30px;
  text-align: justify;
  text-justify: inter-word;
}
/*so not just white background*/
.bckgrnd {
  background-color: #ecf0f1;
}
/*To create the mouse over for the condtions*/

td.dropt {
  border-bottom: thin dotted;}
td.dropt:hover {
  text-decoration: none;
  z-index: 6;
}
td.dropt span {
  position: absolute;
  left: -9999px;
  margin: 20px 0 0 0px;
  padding: 3px 3px 3px 3px;
  z-index: 6;
}

td.dropt:hover span {
  margin: 20px 0 0 170px;
  background: #2980b9;
  z-index:6;
  left: 40%;
  color:#ecf0f1;
  font-weight: bold
}
/* Must be a way to consolidate these two*/
td.dropt2 {
  border-bottom: thin dotted;}
td.dropt2:hover {
  text-decoration: none;
  z-index: 6;
}
td.dropt2 span {
  position: absolute;
  left: -9999px;
  margin: 20px 0 0 0px;
  padding: 3px 3px 3px 3px;
  z-index: 6;
}

td.dropt2:hover span {
  margin: 20px 0 0 170px;
  background: #e74c3c;
  left: 40%;
  z-index:6;
  color:#ecf0f1;
  font-weight: bold
}
/* dashed */
td.dropt3 {
  border-bottom: thin dotted;}
td.dropt3:hover {
  text-decoration: none;
  z-index: 6;
}
td.dropt3 span {
  position: absolute;
  left: -9999px;
  margin: 20px 0 0 0px;
  padding: 3px 3px 3px 3px;
  border-style:dashed;
  border-color:#2980B9;
  border-width:3px;
  z-index: 6;
}

td.dropt3:hover span {
  margin: 20px 0 0 170px;
  left: 40%;
  z-index:6;
  color:#2c3e50;
  font-weight: bold
}
td.dropt4 {
  border-bottom: thin dotted;}
td.dropt4:hover {
  text-decoration: none;
  z-index: 6;
}
td.dropt4 span {
  position: absolute;
  left: -9999px;
  margin: 20px 0 0 0px;
  padding: 3px 3px 3px 3px;
  border-style:dashed;
  border-color:#C0392B;
  border-width:3px;
  z-index: 6;
}

td.dropt4:hover span {
  margin: 20px 0 0 170px;
  left: 40%;
  z-index:6;
  color:#2c3e50;
  font-weight: bold
}
/*For tooltip text*/
.red {
  color:#c0392b;
  font-weight: bold
}
a:hover{
    text-decoration: none;
    color: #c0392b;
    font-weight: bold;
}
/*Boxes for the filler and trial pages*/
.NewLine {
  clear: both;
  float: left;
  display: block;
  position: relative;
  }

.filler {
  background-color:#34495e;
  color:#ecf0f1;
  padding:40px;
  width:100px;
  float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    text-align: center;
}

.trial {
  background-color:#1abc9c;
  color:#ecf0f1;
  padding:40px;
  width:100px;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px;
  text-align: center;
}

.item {
  background-color: black;
  color:#ecf0f1;
  padding:40px;
  width:100px;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px;
  text-align: center;
}

.blank {
  padding:10px;
  width:40px;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px;
  text-align: center;
}

.condON {
  background-color: #2980b9;
  color:#ecf0f1;
  padding:10px;
  width:72px;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px;
  text-align: center;
}

.condOFF {
  background-color: #A1CAF1;
  color:#ecf0f1;
  padding:20px;
  width:72px;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px;
  text-align: center;
}
.list {
  background-color: #f39c12;
  color:#ecf0f1;
  padding:20px;
  width:72px;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px;
}
.list2 {
  color:#2c3e50;
  padding:10px;
  width:72px;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px;
}
.list3 {
  background-color: #e74c3c;
  color:#ecf0f1;
  padding:10px;
  width:72px;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px;
}

.list4 {
  color:#2c3e50;
  padding:10px;
  width:72px;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px;
}
.box {
  border-style:dashed;
  border-width:3px;
}
.box.rd{
  border-color:#c0392b;
}

.box.blue{
  border-color:#2980b9;
}

.trialCenter {
  display: block;
  display: inline-block;
align: center;
width: 600px;
}


.clr{
clear:both;
}

.navspr{
  color:#f39c12
}
/*Changing the CSS of the buttons */
.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

/* make the button have an outline */
.btn.outline {
    background: none;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/*Start to the css of the body */
body {
    background-color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.jumbotron {
    /*position:relative;
    float:left;*/
    background-color:#dddada;
    overflow-y: scroll;
    padding: 20px 20px 20px 20px;
    margin: 50px 100px 50px 100px;
}

.jumbotron p {
  font-size: medium;
}

.jumbotron h1 {
  font-size: xx-large;
}
.jumbotron.ex {
    background-color: #A1CAF1;
}
.jumbotron.ex h1 {
    color: #2980b9;
}
.jumbotron.ques h1 {
    color: #e74c3c;
}
.jumbotron.spr h1 {
    color: #f39c12;
}
.jumbotron.spr {
    background-color: #FDFD96;
}
.jumbotron.R h1 {
    color: #c0392b;
}
.jumbotron.A h1 {
    color: #d35400;
}
.jumbotron.I h1 {
    color: #f39c12;
}
.jumbotron.N h1 {
    color: #27ae60;
}
.jumbotron.B h1 {
    color: #2980b9;
}
.jumbotron.O h1 {
    color: #9b59b6;
}


/* Pop up css */

.popup {
  display:none;
  font: italic 23px/30px "OFL Sorts Mill Goudy","OFL Sorts Mill Goudy TT",serif;
  position: absolute;
  word-wrap: break-word;
  padding: 1em;
  text-align: right;
  margin-top:-75px;   /* To get the popup to center correctly we need */
  margin-left:-225px;   /* To displace the the top/left margins by half of the width/height */
  width: 200px;
  border:2px solid #000;  /* And give it a border */
  z-index:100000;      /* Set z-index to 1 more than that of the overlay so the popup is over the overlay */
}

.answers li {
  list-style: upper-alpha;
}

label {
  margin-left: 0.5em;
  cursor: pointer;
}

#results {
  background: #dddada;
  color: 000000;
  padding: 3px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  border: 1px solid gray;
}

#results:hover {
  background: #3d91b8;
  color: #ffffff;
  padding: 3px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  border: 1px solid gray;
}

#categorylist {
  margin-top: 6px;
  display: none;
}

#closing {
  display: none;
  font-style: italic;
}

span.word {
    font-weight:bold;
    font-size:1.5em;
    padding-right: 10px;
}
